.full {
    background: url('bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.social-icons{
	font-size:40px;
}
.social-icons a{
	color:white;
}
.bottom{
	height:20%;
	width:100%;
}
.top {
	height:20%;
	width:100%;
}
.main {
	height:60%;
	width:100%;
}
.main-box
{	margin-top:20%;
	margin-bottom:20%;
	margin-left:10%;
	margin-right:10%;
	background-color: rgba(47, 50, 56,0.6) ;
	text-align:center;
}
.res-line{
	margin-left:20%;
	margin-right:20%;
	
}

h1,p,h4{
	color:white;
}
html, body {
			
            height: 100%;
            margin: 0;
        }

.img-circle{
	margin-top:10%
}