body {
    background: url('bg.jpeg') no-repeat center center ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  
 

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-icons{
	font-size:40px;
}
.social-icons a{
	color:white;
}

.main-box
{	margin-top:20%;
	margin-bottom:0%;
	margin-left:10%;
	margin-right:10%;
	border-radius: 25px;
	background-color: rgba(47, 50, 56,0.6) ;
	text-align:center;
}
.res-line{
	margin-left:20%;
	margin-right:20%;
	
}

h1,p,h4{
	color:white;
}
html, body {
			
            height: 100%;
            margin: 0;
        }

.img-circle{
	margin-top:10%
}

.resume{
	float:left;
	display:inline-block;
	
}
.copyright{
	
	color:white;
	font-size:10px;
	text-align:center;
}
.hireme{
	text-align:right;
}

.skills{
	margin-top:20%;
	margin-bottom:0%;
	margin-left:40%;
	margin-right:40%;
	border-radius: 25px;
	background-color: rgba(47, 50, 56,0.4) ;
	text-align:center;
}






